<div class="parent-container">


    <div class="title" style="display: flex; justify-content: center;">
        <div>
            <h1 style="color: gold; text-align: center;">Answer questions and win R5000</h1>
            <p style="display: block; text-align: center">Answer 18 football questions without paying a cent and
                win money by getting all answers correctly. T&Cs Apply</p>
        </div>
    </div>

    <div class="title" style="display: flex; justify-content: center; align-items: center; height: 60%;">
        <mat-card style="padding: 10px;">
            <mat-card-title style="color: lightseagreen; text-align: center;">Chelsea vs Liverpool</mat-card-title>
            <mat-card-subtitle>Playing closes on: 5 April 2024 at 18:00 South Africa Standard Time</mat-card-subtitle>
            <mat-card-actions>
                <button mat-button routerLink='/socafan-play'>PLAY FOR FREE</button>
                <span class="example-spacer"></span>
                <button mat-button routerLink="/socafan-play">PAY TO PLAY</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<footer style="display: flex; justify-content: space-around;">
    <p>&copy; 2024 <a href="www.socafan.com" target="_blank">www.socafan.com</a></p>
    <p>Terms of Use</p>
    <p>Privacy Policy</p>
    <p>FAQs</p>
    <p>Contact Us</p>
</footer>