<div class="title" style="display: flex; justify-content: center;">
    <div>
        <h1 style="color: gold; text-align: center;">A whopping R5000 up for grasp</h1>
        <p style="display: block; text-align: center">Answer 18 football questions without paying a cent and
            win money by getting if you answer all questions correctly</p>
    </div>
</div>

<div class="title" style="display: flex; justify-content: center; align-items: center;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card style="padding: 10px; margin-bottom: 20px;">
            <mat-card-title *ngIf="game" style="color: lightseagreen; text-align: center;">{{game.home}} vs
                {{game.away}}</mat-card-title>
            <!-- <mat-card-subtitle>Playing closes on: 5 April 2024 at 18:00 South Africa Standard Time</mat-card-subtitle> -->
            <ng-container *ngIf="gameAvailable">
                <mat-card-content>


                    <div formArrayName="questions">
                        <div *ngFor="let question of questions; let i = index">
                            <!-- Label for the question with a number -->
                            <label>{{ i + 1 }}. {{ question.text }}</label>
                            <mat-radio-group [formControlName]="i">
                                <mat-radio-button *ngFor="let option of question.options" [value]="option">
                                    {{ option }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>


                </mat-card-content>
            </ng-container>
            <ng-container *ngIf="!gameAvailable">
                <mat-card-content>
                    <h6>no game available</h6>
                </mat-card-content>
            </ng-container>

            <mat-card-actions>
                <button type="submit">Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>