mat-radio-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

form {
    margin: 20px;
}

label {
    margin-bottom: 5px;
    display: block;
    font-size: 1.1em;
}

mat-radio-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}