<div class="title" style="display: flex; justify-content: center;">
    <div>
        <h1 style="text-align: center;">About Us</h1>
        <div style="display: flex; justify-content: center;" class="about-us">
            <div class="text" style="width: 50%;">
                <p style="display: block; text-align: center">a soccer quiz website allowing people to win R5000 if they
                    successfully answer 18 questions (correctly). The questions being
                    answered are based on the outcome of a single soccer match (Chelsea vs
                    Liverpool).</p>
                <p style="display: block; text-align: center">Questions are in a multiple choice format and each question will have 10
                    possible answers.</p>
                <p style="display: block; text-align: center">The R5000 being available to be won is pool money; meaning if there are
                    multiple winners, they will share it equally.</p>
    
                <p style="display: block; text-align: center">Playing will be free but those playing for free will be unable to pick some of
                    the answers (options). Those playing for free will not be able to pick the first
                    three answers (A-0, B-1, C-2) from each question. Example below</p>
            </div>
        </div>
    </div>
</div>